<% if user_signed_in? %>
<%= link_to "Actualiser", emails_path, :method => :post, remote: true , style: "margin : 30px;"%>

<div class="container flex" style="height : 80vh;">
    <div class="email-list" style=" height : 80vh; border : 1px solid grey; padding : 5px; overflow-y :scroll; width : 200px; scrollbar-color: lightgray whitesmoke;">
        <% @emails.each do |email| %>
            <% if email.user_id == current_user.id%>
                <div style="padding : 10px; <%if email.read%>background-color: rgba(255, 166, 0, 0.178);<%end%>" id="<%=email.id%>" class="object-div">
                    <%= link_to email.object, email_path(email.id), :method => :get, remote: true %>
                </div>
            <%end%>
        <%end%>
    </div>
    <div class="selected-email" style="height : 80vh; width : 80%; padding : 10px; overflow-y : auto; scrollbar-color: lightgray whitesmoke;">

    </div>
</div>

<script>
for (let i = 0; i < document.getElementsByClassName("object-div").length; i++) {
    document.getElementsByClassName("object-div")[i].addEventListener("click", function(){
        document.querySelectorAll(".object-div a")[i].click()
    })
}
//A INSÉRER DANS LA BOUCLE
//let Http = new XMLHttpRequest();
//let url=`/emails/${document.getElementsByClassName("object-div")[i].id}`;
//Http.open("GET", url);
//Http.send();
</script>
<%else%>
    <div style="display : flex; align-items : center; justify-content : center; height : 90vh">
            <h1 class="display-2">ERROR 404</h1>
    </div>
<%end%>